

#product-overview {
    background: linear-gradient(to top, black 10%, transparent), url(/images/Portadaa-03.jpg) left 10% bottom 20%/cover no-repeat border-box, rgb(100, 184, 166);
    /* background: linear-gradient(to top, black 10%, transparent), url(/images/Portadaa-03.jpg) left 10% bottom 20%/cover no-repeat border-box, green; */
    /* background-image: url(spotify.jpg);
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
    /* background-image: linear-gradient(180deg, black, green); */
    /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, black, green, rgb(169, 223, 169)); */
    width: 100vw;
    height: 100vh;
    margin-top: 2.5rem;
    /* border: 5px dashed red; */
    position: relative;
}

.section-title {
    color: rgb(100, 184, 166);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4rem;
}

/* #product-overview h1 {
    color: rgb(210, 210, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    left: 35%;
} */

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: black;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px;

}

.plan:hover{
	transform: scale(1.05);
	/* transform: rotate3d(1,1,1, 2deg); */
	box-shadow: .1rem 1rem 2rem rgba(0,0,0, .2);
}

/* .plan--highlighted {
    background: rgb(100, 184, 166);
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
} */

.plan__annotation {
    font-size: 16px;
    background: rgb(250, 250, 250);
    color: rgb(100, 184, 166);
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
}

.plan__title {
    color: rgb(100, 184, 166);
}

.plan__price {
    font-size: 16px;
    color: rgb(53, 53, 53);
}

.plan--highlighted .plan__price {
    color: rgb(250, 250, 250);
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(250, 250, 250);
}

.plan__feature {
    margin: 8px 0;
}

#key-features {
    background: rgb(100, 184, 166);
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: rgb(250, 250, 250);
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: rgb(250, 250, 250);
    width: 153px;
    height: 153px;
    border: 2px solid rgb(100, 184, 166);
    border-radius: 50%;
    margin: auto;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: rgb(250, 250, 250);
    font-size: 20px;
}

/* h1 {
    font-family: sans-serif;
} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: rgb(250, 250, 250);
    padding: 1rem;
    border: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid black;
    background: black;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: rgb(100, 184, 166);
    background-color: rgb(100, 184, 166);
}

.modal__action--negative {
    background: black;
    background-color: black;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: rgb(100, 184, 166);
    background-color: rgb(100, 184, 166);
}