main  {
    padding-top: 2rem;
}

.background {
    background: url(/images/robot.png) center/cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    width: 46%;
    margin: 2rem 2rem;
    border: 2px solid rgb(100, 184, 166);
    border-left: none;
    position: relative;
    border-radius: 30px;
}

.package:hover,
.package:active {
    box-shadow: 3px 3px 5px rgba(104, 104, 104, 0.5);
    border-color: black;
    /* border-color: black !important; */
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
}

.package__badge {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background: rgb(250, 250, 250);
    padding: 0.5rem;
    border-radius: 30px;
}

.package__subtitle {
    color: rgb(250, 250, 250);
}

.package__info {
    padding: 1rem;
    border: 1PX solid rgb(100, 184, 166);
    font-size: 1.2rem;
    color: black;
    background: rgb(250, 250, 250);
    border-radius: 30px;
}

.clearfix {
    clear: both;
}

#free {
    background: rgb(100, 184, 166);
}

#plus {
    background: black;
    float: right;
    /* border-right: none; */
    border-left: 2px solid rgb(100, 184, 166);
    text-align: right;
}

#plus:hover,
#plus:active {
    border-left-color: black;
}

#premium {
    background: rgb(100, 184, 166);
}

#plus .package__title {
    color: rgb(100, 184, 166);
}

#plus .package__subtitle {
    color: rgb(250, 250, 250);
}

